* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	background: url(imagens/fundo.png) repeat-x;
}

#container {
	width: 750px;
	margin: 0 auto;
}

/*HEADER*/
#cabecalho {
	height: 150px;
	background: url(imagens/detalhe-topo.png) no-repeat top right;
	padding-top: 25px;
}

.logo {
	width: 152px;
	height: 66px;
	background: url(imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#container ul {
	background: #b10333;
	margin-top: -50px;
	float: left;
	border: 1px solid red;
}

#container ul li {
	float: left;
}

#container ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	text-decoration: none;
	line-height: 2.1em;
	color: #fff;
	background: url(imagens/divisor.png) no-repeat left center;
}

#container ul .primeiro a {
	background: none;
}

#container ul a:hover {
	color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #de003e;
	cursor: text;
}
/*FIM HEADER*/

/*INÍCIO CONTAINER*/

#conteudo {
	background: #f5f5f5;
	margin-top: 70px;
	float: left;
}

#secundario {
	width: 270px;
	background: green;
	float: left;
	margin: 0 0 20px 15px;
}

#lateral {
	width: 180px;
	background: yellow;
	display: inline-block;
	position: relative;
	bottom: 38.5px;
	margin: 0 0 20px -750;
}

#primario {
	width: 270px;
	background: blue;
	float: left;
	margin: 0 0 20px 195px;
}

/*FIM CONTAINER*/

/*INÍCIO RODAPÉ*/

#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
	text-align: center;
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

/*FIM RODAPÉ*/